table {
    width: 800px;
    background-color: yellow;
    border-collapse: collapse;
    border: 1px dashed #000;
  }
  th, td {
    padding: 8px
  }
  th {
    text-align: center;
    color: red;
  }
  
  td{
    border: 1px dashed #000;
  }
  .combined {
    border-bottom: 1px dashed #f00;
  }
